<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Vorname}}" placeholder="Vorname"
            name="vorname">
        <label for="floatingInput">Vorname</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Nachname}}" placeholder="Nachname"
            name="nachname">
        <label for="floatingInput">Nachname</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Geburtsdatum}}" placeholder="Geburtsdatum"
            name="gdat">
        <label for="floatingInput">Geburtsdatum</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Straße}}" placeholder="Straße"
            name="str">
        <label for="floatingInput">Straße</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Hausnummer}}" placeholder="Hausnummer"
            name="hr">
        <label for="floatingInput">Hausnummer</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Postleitzahl}}" placeholder="Postleitzahl"
            name="plz">
        <label for="floatingInput">Postleitzahl</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Wohnort}}" placeholder="Wohnort"
            name="ort">
        <label for="floatingInput">Wohnort</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Email}}" placeholder="E-Mail"
            name="email">
        <label for="floatingInput">E-Mail</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Telefonnummer}}"
            placeholder="Telefonnummer" name="telefonnummer">
        <label for="floatingInput">Telefonnummer</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Fachrichtung}}"
            placeholder="Fachrichtung" name="fachrichtung">
        <label for="floatingInput">Fachrichtung</label>
    </div>
</div>
<div class="col-12">
    <div class="form-floating mb-3">
        <textarea class="form-control" id="floatingInput" placeholder="Bemerkung" name="bemerkung"
            style="height: 200px;">{{this.Bemerkung}}</textarea>
        <label for="floatingInput">Bemerkung</label>
    </div>
</div>
<div class="col-5">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Benutzername}}" placeholder="Benutzername"
            name="benutzername">
        <label for="floatingInput">Benutzername</label>
    </div>
</div>
<div class="col-5">
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingInput" value="{{this.Passwort}}" placeholder="Passwort"
            name="passwort">
        <label for="floatingInput">Passwort</label>
    </div>
</div>
<div class="col-2">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Status}}" placeholder="Status"
            name="status">
        <label for="floatingInput">Status</label>
    </div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>